In [2]:
import pandas as pd
from config import username, password
from sqlalchemy import create_engine
import psycopg2

In [3]:
completion_df = pd.read_csv('Resources/college-completion.csv')
completion_df.head()

,basic,chronname,city,control,counted_pct,flagship,hbcu,level,site,state,...,vsa_enroll_elsewhere_after4_transfer,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,nicknames,cohort_size
0,Masters Colleges and Universities--larger prog...,Alabama A&M University,Normal,Public,99.7|07,NaN,X,4-year,www.aamu.edu/,Alabama,...,17.2,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,NaN,882.0
1,Baccalaureate Colleges--Arts & Sciences,Amridge University,Montgomery,Private not-for-profit,100.0|07,NaN,NaN,4-year,www.amridgeuniversity.edu,Alabama,...,NaN,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,NaN,3.0
2,Masters Colleges and Universities--larger prog...,Alabama State University,Montgomery,Public,88.0|07,NaN,X,4-year,www.alasu.edu/email/index.aspx,Alabama,...,NaN,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,ASU,1351.0
3,Masters Colleges and Universities--larger prog...,Auburn University at Montgomery,Montgomery,Public,43.8|07,NaN,NaN,4-year,www.aum.edu,Alabama,...,NaN,NaN,NaN,NaN,NaN,229814|210429|160038|176965|169798|207263|1023...,13,386,AUM,536.0
4,Research Universities--high research activity,Auburn University,Auburn University,Public,75.5|07,NaN,NaN,4-year,www.auburn.edu,Alabama,...,7.6,72.2,9.7,2.0,4.6,223232|204024|163268|165334|132903|171128|1961...,13,96,NaN,4165.0

In [4]:
stats_df = pd.read_csv('Resources/colleges-and-universities.csv')
stats_df.head()

,x,y,fid,ipedsid,name,address,address2,city,state,zip,...,alias,size_set,inst_size,pt_enroll,ft_enroll,tot_enroll,housing,dorm_cap,tot_employ,shelter_id
0,-81.706000,30.188862,3268,445434,Everest University-Orange Park,805 Wells Rd,NOT AVAILABLE,Orange Park,FL,32073,...,Florida Metropolitan University-Orange Park,9,1,276,410,686,2,0,99,NOT AVAILABLE
1,-112.286177,34.598901,3271,444130,Northcentral University,10000 E. University Dr,NOT AVAILABLE,Prescott Valley,AZ,86314,...,NOT AVAILABLE,12,3,6074,3178,9252,2,0,955,NOT AVAILABLE
2,-111.655559,35.188875,3283,105330,Northern Arizona University,"Knoles Drive, Babbitt Administrative Center",NOT AVAILABLE,Flagstaff,AZ,86011,...,NAU,16,5,5709,20293,26002,1,8400,3452,NOT AVAILABLE
3,-112.115446,33.576717,3292,105367,Ottawa University-Phoenix,10020 North 25th Avenue,NOT AVAILABLE,Phoenix,AZ,85021,...,OU - Phoenix |OU - Arizona |OUAZ,6,1,831,11,842,2,0,121,NOT AVAILABLE
4,-88.024559,43.028827,7104,475875,Strayer University-Wisconsin,9000 West Chester Street,NOT AVAILABLE,Milwaukee,WI,53214,...,NOT AVAILABLE,-3,1,39537,6366,45903,2,0,31,NOT AVAILABLE

In [5]:
new_completion_df = completion_df[['chronname', 'city','control', 'state', 'pell_value', 'retain_value']].copy()
new_completion_df.head()

,chronname,city,control,state,pell_value,retain_value
0,Alabama A&M University,Normal,Public,Alabama,71.2,63.1
1,Amridge University,Montgomery,Private not-for-profit,Alabama,68.4,37.5
2,Alabama State University,Montgomery,Public,Alabama,82.7,62.2
3,Auburn University at Montgomery,Montgomery,Public,Alabama,40.1,63.2
4,Auburn University,Auburn University,Public,Alabama,16.9,89.5

In [6]:
new_stats_df = stats_df[['name', 'website', 'tot_enroll']].copy()
new_stats_df.head()

,name,website,tot_enroll
0,Everest University-Orange Park,www.everest.edu/campus/orange_park,686
1,Northcentral University,www.ncu.edu,9252
2,Northern Arizona University,nau.edu/,26002
3,Ottawa University-Phoenix,www.ottawa.edu,842
4,Strayer University-Wisconsin,www.strayer.edu/campus/milwaukee,45903

In [7]:
new_completion_df['chronname'] = new_completion_df['chronname'].str.replace('-',' ')
new_completion_df.head(75)

,chronname,city,control,state,pell_value,retain_value
0,Alabama A&M University,Normal,Public,Alabama,71.2,63.1
1,Amridge University,Montgomery,Private not-for-profit,Alabama,68.4,37.5
2,Alabama State University,Montgomery,Public,Alabama,82.7,62.2
3,Auburn University at Montgomery,Montgomery,Public,Alabama,40.1,63.2
4,Auburn University,Auburn University,Public,Alabama,16.9,89.5
...,...,...,...,...,...,...
70,Point Loma Nazarene University,San Diego,Private not-for-profit,California,27.1,89.3
71,San Diego State University,San Diego,Public,California,39.6,87.8
72,San Francisco State University,San Francisco,Public,California,42.4,82.1
73,William Jessup University,Rocklin,Private not-for-profit,California,47.4,82.2
74,San Jose State University,San Jose,Public,California,39.5,87.8

In [8]:
new_stats_df['name'] = new_stats_df['name'].str.replace('-',' ')
new_stats_df.head(50)

,name,website,tot_enroll
0,Everest University Orange Park,www.everest.edu/campus/orange_park,686
1,Northcentral University,www.ncu.edu,9252
2,Northern Arizona University,nau.edu/,26002
3,Ottawa University Phoenix,www.ottawa.edu,842
4,Strayer University Wisconsin,www.strayer.edu/campus/milwaukee,45903
5,University of Phoenix Phoenix Campus,www.phoenix.edu,4924
6,Strayer University Indiana,www.strayer.edu/campus/north-indianapolis,128
7,Herzing University,NOT AVAILABLE,41
8,Colorado State University System Office,www.pres.colostate.edu,0
9,Argosy University Salt Lake City,www.argosy.edu/locations/salt-lake-city/defaul...,346
10,John Hancock University,www.hancocku.edu,0
11,Shorter University College of Adult & Professi...,www.shorter.edu/CAPP/,1447
12,Arkansas State University System Office,www.asusystem.edu,0
13,University of the West,www.uwest.edu,300
14,Southwest University at El Paso,southwestuniversity.edu,1028
15,DeVry University Kentucky,www.devry.edu,122
16,Northwestern Polytechnic University,www.npu.edu,665
17,Notre Dame de Namur University,www.ndnu.edu,2001
18,The Art Institute of California Argosy Univers...,www.artinstitutes.edu/sunnyvale/,656
19,Johnson & Wales University Online,www.jwu.edu/content.aspx?id=55426,86
20,DeVry University California,www.devry.edu,10149
21,Palo Alto University,www.paloaltou.edu,883
22,National American University Austin,www.national.edu,503
23,Dominican University of California,www.dominican.edu,2207
24,National American University Wichita,www.national.edu,679
25,University of the Pacific,www.pacific.edu,6652
26,Fielding Graduate University,www.fielding.edu,1322
27,Five Branches University,www.fivebranches.edu,430
28,Argosy University San Francisco Bay Area,www.argosy.edu/sanfrancisco,704
29,Dongguk University Los Angeles,dula.edu,207
30,Samuel Merritt University,www.samuelmerritt.edu,1533
31,Golden Gate University San Francisco,www.ggu.edu,3542
32,San Diego State University,www.sdsu.edu,30843
33,University of San Diego,www.sandiego.edu,8105
34,San Francisco State University,www.sfsu.edu,30500
35,University of San Francisco,www.usfca.edu/,10017
36,William Jessup University,WWW.JESSUP.EDU,1016
37,American Jewish University,www.ajula.edu,238
38,Santa Clara University,www.scu.edu,8520
39,The Art Institute of California Argosy Univers...,www.artinstitutes.edu/san-diego/,1982
40,Saybrook University,www.saybrook.edu,608
41,Lincoln University,www.lincolnuca.edu,451
42,University of Phoenix Omaha Campus,www.phoenix.edu,60
43,University of Phoenix Northwest Indiana Campus,NOT AVAILABLE,0
44,University of Phoenix Madison Campus,www.phoenix.edu,157
45,University of Phoenix Columbia Campus,www.phoenix.edu,869
46,Averett University Non Traditional Programs,www.averett.edu/adultprograms/index.php,1407
47,The Art Institute of California Argosy Univers...,www.artinstitutes.edu/inlandempire,2276
48,National American University Zona Rosa,www.national.edu,513
49,Baptist University of the Americas,www.bua.edu,203

In [9]:
new_completion_df = new_completion_df.rename(columns={'chronname':'name', 'control':'public', 'pell_value':'pell', 'retain_value':'retention'})
new_completion_df.head()

,name,city,public,state,pell,retention
0,Alabama A&M University,Normal,Public,Alabama,71.2,63.1
1,Amridge University,Montgomery,Private not-for-profit,Alabama,68.4,37.5
2,Alabama State University,Montgomery,Public,Alabama,82.7,62.2
3,Auburn University at Montgomery,Montgomery,Public,Alabama,40.1,63.2
4,Auburn University,Auburn University,Public,Alabama,16.9,89.5

In [10]:
new_stats_df = new_stats_df.rename(columns={'tot_enroll':'enrollment'})
new_stats_df.head()

,name,website,enrollment
0,Everest University Orange Park,www.everest.edu/campus/orange_park,686
1,Northcentral University,www.ncu.edu,9252
2,Northern Arizona University,nau.edu/,26002
3,Ottawa University Phoenix,www.ottawa.edu,842
4,Strayer University Wisconsin,www.strayer.edu/campus/milwaukee,45903

In [11]:
database='universities_db'
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/{database}')

In [12]:
engine.table_names()

['completion', 'stats']

In [13]:
new_completion_df.to_sql(name='completion', con=engine, if_exists='append', index=False)

new_stats_df.to_sql(name='stats', con=engine, if_exists='append', index=False)

In [15]:
pd.read_sql_query('select * from completion', con=engine).head()

,name,city,public,state,pell,retention
0,Alabama A&M University,Normal,Public,Alabama,71,63.0
1,Amridge University,Montgomery,Private not-for-profit,Alabama,68,38.0
2,Alabama State University,Montgomery,Public,Alabama,83,62.0
3,Auburn University at Montgomery,Montgomery,Public,Alabama,40,63.0
4,Auburn University,Auburn University,Public,Alabama,17,90.0

In [16]:
pd.read_sql_query('select * from stats', con=engine).head()

,name,website,enrollment
0,Everest University Orange Park,www.everest.edu/campus/orange_park,686
1,Northcentral University,www.ncu.edu,9252
2,Northern Arizona University,nau.edu/,26002
3,Ottawa University Phoenix,www.ottawa.edu,842
4,Strayer University Wisconsin,www.strayer.edu/campus/milwaukee,45903